body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-parent {
  width: 300px;
  background-color: lightgray;
  padding: 24px;
  margin: 12px;
  border: black solid 2px;
  border-radius: 10px;
}

#frm_books {
  margin-top: 12px;
  background-color: lightgray;
  padding: 24px;
  border: black solid 2px;
  border-radius: 10px;
}
